.CFUserTextEncoding
.DS_Store
.anaconda
.android
.aspnet
.bash_sessions
.cache
.cocoapods
.conda
.config/.DS_Store
.config/coc/extensions/node_modules/
.config/tmux/plugins/
.config/yarn/global/node_modules/
.config/yarn/global/yarn-error.log
.continuum/
.cups/
.dart-tool/
.Trash/
.dart/
.dartServer/
.docker/
.dotnet/
.expo/
.fig.dotfiles.bak/
.flutter
.flutter-devtools/
.gem/
.gitconfig
.gk/
.gradle/
.lemminx/
.lesshst
.lint-prepush/
.local/
.microsoft/
.mongodb/
.npm/
.nuget/
.pub-cache/
.skiko/
.ssh/
.swiftpm/
.templateengine/
.terminfo/
.tmux/
.vscode/
.yarn/
.yarnrc
.zsh_sessions/
Applications/
Desktop/
Documents/
Downloads/
Library/
Movies/
Music/
Pictures/
Public/
anaconda3/
node_modules/
